@model IEnumerable<ManagementSystem.Data.RaiseRequest>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateIssued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaiseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FirstName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaiseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RaiseRequestId }) |
                @Html.ActionLink("Details", "Details", new { id=item.RaiseRequestId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RaiseRequestId })
            </td>
        </tr>
    }
    
    </table>

