@model ManagementSystem.Data.Complaint

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to sent this complaint to the employee manager?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
              Complaint Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintDescription)
        </dd>

        <dt>
            Date Filed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFiled)
        </dd>

        <dt>
            Resolved
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resolved)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Send" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
