@model ManagementSystem.Data.Complaint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Complaint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComplaintDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFiled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFiled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeverityLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeverityLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resolved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComplaintId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
