@model IEnumerable<ManagementSystem.Data.Complaint>

@{
    ViewBag.Title = "Index";
}
<div style="font-family:Arial">
    <h2>Employee Complaints</h2>
    <br>
    <table  class="table" border="1">
        <tr>
            <th>
                Complaint Description
            </th>
            <th>
                Date Filed
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolved)
            </th>
            <th>
                Name
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComplaintDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFiled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resolved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @{
                        if ((ViewBag.sessionID).JobTitle == "Human Resources")
                        {

                            @Html.ActionLink("Resolved Edit", "Edit", new { id = item.ComplaintId })
                            @:|

                        }
                    }


                    @Html.ActionLink("Details", "Details", new { id = item.ComplaintId })
                    @{
                        if ((ViewBag.sessionID).JobTitle == "Human Resources")
                        {
                            @:|

                            @Html.ActionLink("Send to manager", "Delete", new { id = item.ComplaintId })

                        }
                    }

                </td>
            </tr>
                        }

    </table>
</div>