@model ManagementSystem.Data.Vacation

@{
    ViewBag.Title = "Details";
}

<h3>Vacation request details</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Start date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            Duration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            Approval Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AprovalStatus)
        </dd>
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
            @Html.DisplayFor(model => model.Employee.LastName)

        </dd>
        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Username)
        </dd>

    </dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.VacationId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
