@model IEnumerable<ManagementSystem.Data.Vacation>

@{
    ViewBag.Title = "GetVacationByEmployee";
}

<h2>My Vacation Requests</h2>


<table class="display msTable">
    <thead>
    <tr>
        <th>
            Start Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
           Approval Status
        </th>
        <th>
            Name
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.StartDate.Value.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AprovalStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
            @Html.DisplayFor(modelItem => item.Employee.LastName)
        </td>
        <td>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default"> @Html.ActionLink("Details", "Details", new { id = item.VacationId })</button>
            </div>
        </td>
    </tr>
}
</tbody>
</table>
