@model IEnumerable<ManagementSystem.Data.Vacation>

@{
    ViewBag.Title = "Index";
}
<div style="font-family:Arial">
    <h2>Vacation Requests</h2>


    <table class="display msTable">
        <thead>
        <tr>
            <th>
                Start Date
            </th>
            <th>
                Duration
            </th>
            <th>
                Approval Status
            </th>
            <th>
                Name
            </th>
            <th>Actions</th>
        </tr>
            </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.StartDate.Value.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AprovalStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @if(ViewBag.SessionTitle == "Manager") {
                       if (item.AprovalStatus == "Pending HR approval" || item.AprovalStatus == "Approved" || item.AprovalStatus == "Denied") {
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn disabled"> @Html.ActionLink("Details", "Details", new { id = item.VacationId })  </button>                    
                        </div>

                        }
                        if (item.AprovalStatus == "" || item.AprovalStatus == "Request Pending"|| item.AprovalStatus== "Approval Status")
                        {
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default"> @Html.ActionLink("Edit Approval Status", "Edit", new { id = item.VacationId })  </button>
                        <button type="button" class="btn btn-default"> @Html.ActionLink("Details", "Details", new { id = item.VacationId })  </button>
                        <button type="button" class="btn btn-default"> @Html.ActionLink("Send To Human Resources", "Delete", new { id = item.VacationId }) </button>
                        </div>
                        }
                    }
                    @if (ViewBag.SessionTitle == "Human Resources")
                    {
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default"> @Html.ActionLink("Edit Approval Status", "Edit", new { id = item.VacationId })</button>
                            <button type="button" class="btn btn-default"> @Html.ActionLink("Details", "Details", new { id = item.VacationId })</button>
                        </div>
                    }
                </td>


            </tr>
        }
        </tbody>

    </table>

    </div>