@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using ManagementSystem.Business.Repository;
@using ManagementSystem.Data;
@using ManagementSystem.Business.EmployeeRepository;
@*
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>






                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">@(((Employee)Session["employee"]).FirstName) @(((Employee)Session["employee"]).LastName)</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Profile<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Profile", "MyProfile", "Employee")</li>
                                <li>@Html.ActionLink("Put in a two weeks notice", "Create", "EmployeeStatus")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Logout", "logout", "Employee")</li>

                            </ul>
                        </li>
                    </ul>
                </div>
                }




                @if (((Employee)Session["employee"]) != null && ((Employee)Session["employee"]).JobTitle == "Human Resources")
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Employees <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Employees", "Index", "Manager")</li>
                                    <li>@Html.ActionLink("Complaints", "Index", "Complaints")</li>
                                    <li>@Html.ActionLink("Vacations", "Index", "Vacations")</li>
                                    <li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                                    <li>@Html.ActionLink("Sick Leave", "Index", "SickLeaves")</li>
                                    <li>@Html.ActionLink("Termination Requests", "Index", "EmployeeStatus")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Add new employee", "Create", "Manager")</li>
                                    <li>@Html.ActionLink("Fire Employee", "FireEmployee", "EmployeeStatus")</li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vacation <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My Vacation Requests", "GetVacationByEmployee", "Vacations")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Request Vacation", "Create", "Vacations")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sick Leave <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My Sick Leave Requests", "GetSickLeavesByEmployee", "SickLeaves")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Request Sick Leave", "Create", "SickLeaves")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Complaint<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My Complaints", "GetComplaintsByEmployee", "Complaints")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Write a Complaint", "Create", "Complaints")</li>

                                </ul>
                            </li>


                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">@(((Employee)Session["employee"]).FirstName) @(((Employee)Session["employee"]).LastName)</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Profile<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Profile", "MyProfile", "Employee")</li>
                                    <li>@Html.ActionLink("Put in a two weeks notice", "Create", "EmployeeStatus")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Logout", "logout", "Employee")</li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                }
                @if (((Employee)Session["employee"]) != null && ((Employee)Session["employee"]).JobTitle == "Employee")
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vacation <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My Vacation Requests", "GetVacationByEmployee", "Vacations")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Request Vacation", "Create", "Vacations")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sick Leave <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My Sick Leave Requests", "GetSickLeavesByEmployee", "SickLeaves")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Request Sick Leave", "Create", "SickLeaves")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Complaint<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("My Complaints", "GetComplaintsByEmployee", "Complaints")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Write a Complaint", "Create", "Complaints")</li>

                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">@(((Employee)Session["employee"]).FirstName) @(((Employee)Session["employee"]).LastName)</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Profile<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Profile", "MyProfile", "Employee")</li>
                                    <li>@Html.ActionLink("Put in a two weeks notice", "Create", "EmployeeStatus")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Logout", "logout", "Employee")</li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                }
                @if (((Employee)Session["employee"]) == null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Login", "login", "Employee")</li>
                        </ul>
                    </div>
                }

            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Management System</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/themes/main-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300 " rel="stylesheet" type="text/css">
    @*<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>*@
    <title>Slide-Out Navigation Bar</title>
</head>
<body>



    @if (((Employee)Session["employee"]) != null && ((Employee)Session["employee"]).JobTitle == "Human Resources")
    {

        <i class="fa fa-bars fa-2x toggle_menu"></i>
            <div class="sidebar_menu">
                <i class="fa fa-times"></i>
                <center>
                    <a href="_Layout.cshtml"><h1 class="boxed_item">  @(((Employee)Session["employee"]).FirstName)  <span class="logo_bold">@(((Employee)Session["employee"]).LastName)</span></h1></a>
                    <h2 class="logo_title">@(((Employee)Session["employee"]).JobTitle)</h2>
                </center>

                <ul class="navigation_selection">
                    <li class="navigation_item">PROFILE
                        <ul>
                            <li id="subdrop">@Html.ActionLink("Profile", "MyProfile", "Employee")</li>
                            <li id="subdrop">@Html.ActionLink("Logout", "logout", "Employee")</li>
                        </ul>
                    </li>

                    <li class="navigation_item">
                        EMPLOYEES
                        <ul>

                            <li id="subdrop">@Html.ActionLink("Employees", "Index", "Manager")</li>
                            <li id="subdrop">@Html.ActionLink("Complaints", "Index", "Complaints")</li>
                            <li id="subdrop">@Html.ActionLink("Vacations", "Index", "Vacations")</li>
                            <li id="subdrop">@Html.ActionLink("Sick Leave", "Index", "SickLeaves")</li>
                            <li id="subdrop">@Html.ActionLink("Termination Requests", "Index", "EmployeeStatus")</li>
                            <li id="subdrop">@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                            <li id="subdrop">@Html.ActionLink("Resignations", "Index", "EmployeeStatus")</li>
                            <li id="subdrop">@Html.ActionLink("Add new employee", "Create", "Manager")</li>
                            <li id="subdrop">@Html.ActionLink("Fire Employee", "FireEmployee", "EmployeeStatus")</li>
                        </ul>
                    </li>

                    <li class="navigation_item">VACATION
                        <ul>
                            <li id="subdrop">@Html.ActionLink("My Vacation Requests", "GetVacationByEmployee", "Vacations")</li>
                            <li id="subdrop">@Html.ActionLink("Request Vacation", "Create", "Vacations")</li>
                        </ul>
                    </li>

                    <li class="navigation_item">SICK LEAVE
                        <ul>
                            <li id="subdrop">@Html.ActionLink("My Sick Leave Requests", "GetSickLeavesByEmployee", "SickLeaves")</li>
                            <li id="subdrop">@Html.ActionLink("Request Sick Leave", "Create", "SickLeaves")</li>
                        </ul>
                    </li>

                     <li class="navigation_item"> COMPLAINTS
                        <ul>
                            <li id="subdrop">@Html.ActionLink("My Complaints", "GetComplaintsByEmployee", "Complaints")</li>
                            <li id="subdrop">@Html.ActionLink("Write a Complaint", "Create", "Complaints")</li>
                        </ul>
                     </li>

                    <li id="single_line">@Html.ActionLink("Resign", "Create", "EmployeeStatus")</li>

                </ul>
                <center>
                    <a href="#">
                        <h1 class="boxed_item boxed_item_smaller">
                            <i class="fa fa-user"></i>
                            SIGN UP
                        </h1>
                    </a>
                </center>
            </div>
           
    }

    @if (((Employee)Session["employee"]) != null && ((Employee)Session["employee"]).JobTitle == "Manager")
    {

        <i class="fa fa-bars fa-2x toggle_menu"></i>
        <div class="sidebar_menu">
            <i class="fa fa-times"></i>
            <center>
                <a href="_Layout.cshtml"><h1 class="boxed_item">  @(((Employee)Session["employee"]).FirstName)  <span class="logo_bold">@(((Employee)Session["employee"]).LastName)</span></h1></a>
                <h2 class="logo_title">@(((Employee)Session["employee"]).JobTitle)</h2>
            </center>

            <ul class="navigation_selection">
                <li class="navigation_item">
                    PROFILE
                    <ul>
                        <li id="subdrop">@Html.ActionLink("Profile", "MyProfile", "Employee")</li>
                        <li id="subdrop">@Html.ActionLink("Logout", "logout", "Employee")</li>
                    </ul>
                </li>

                <li class="navigation_item">
                    EMPLOYEES
                    <ul>

                        <li id="subdrop">@Html.ActionLink("Employees", "Index", "Manager")</li>
                        <li id="subdrop">@Html.ActionLink("Complaints", "Index", "Complaints")</li>
                        <li id="subdrop">@Html.ActionLink("Vacations", "Index", "Vacations")</li>
                        <li id="subdrop">@Html.ActionLink("Sick Leave", "Index", "SickLeaves")</li>
                        <li id="subdrop">@Html.ActionLink("Resignations", "IndexByManager", "EmployeeStatus")</li>

                    </ul>
                </li>

                <li class="navigation_item">
                    MY EMPLOYEE REVIEWS
                    <ul>
                        <li id="subdrop">@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                        <li id="subdrop">@Html.ActionLink("Write a Review", "Create", "Reviews")</li>
                    </ul>
                </li>

                <li class="navigation_item">
                    MY RAISE REQUESTS
                    <ul>
                        <li id="subdrop">@Html.ActionLink("Raise Requests", "Index", "RaiseRequests")</li>
                        <li id="subdrop">@Html.ActionLink("Create a Request", "Create", "RaiseRequests")</li>
                    </ul>
                </li>

                <li class="navigation_item">
                    VACATION
                    <ul>
                        <li id="subdrop">@Html.ActionLink("My Vacation Requests", "GetVacationByEmployee", "Vacations")</li>
                        <li id="subdrop">@Html.ActionLink("Request Vacation", "Create", "Vacations")</li>
                    </ul>
                </li>

                <li class="navigation_item">
                    SICK LEAVE
                    <ul>
                        <li id="subdrop">@Html.ActionLink("My Sick Leave Requests", "GetSickLeavesByEmployee", "SickLeaves")</li>
                        <li id="subdrop">@Html.ActionLink("Request Sick Leave", "Create", "SickLeaves")</li>
                    </ul>
                </li>

                <li class="navigation_item">
                    COMPLAINTS
                    <ul>
                        <li id="subdrop">@Html.ActionLink("My Complaints", "GetComplaintsByEmployee", "Complaints")</li>
                        <li id="subdrop">@Html.ActionLink("Write a Complaint", "Create", "Complaints")</li>
                    </ul>
                </li>

                <li id="single_line">@Html.ActionLink("Resign", "Create", "EmployeeStatus")</li>

            </ul>
            <center>
                <a href="#">
                    <h1 class="boxed_item boxed_item_smaller">
                        <i class="fa fa-user"></i>
                        SIGN UP
                    </h1>
                </a>
            </center>
        </div>
    }




    @if (((Employee)Session["employee"]) != null && ((Employee)Session["employee"]).JobTitle == "Employee")
    {

        <i class="fa fa-bars fa-2x toggle_menu"></i>
        <div class="sidebar_menu">
            <i class="fa fa-times"></i>
            <center>
                <a href="_Layout.cshtml"><h1 class="boxed_item">  @(((Employee)Session["employee"]).FirstName)  <span class="logo_bold">@(((Employee)Session["employee"]).LastName)</span></h1></a>
                <h2 class="logo_title">@(((Employee)Session["employee"]).JobTitle)</h2>
            </center>

            <ul class="navigation_selection">
                <li class="navigation_item">
                    PROFILE
                    <ul>
                        <li id="subdrop">@Html.ActionLink("Profile", "MyProfile", "Employee")</li>
                        <li id="subdrop">@Html.ActionLink("Logout", "logout", "Employee")</li>
                    </ul>
                </li>

                <li class="navigation_item">
                    VACATION
                    <ul>
                        <li id="subdrop">@Html.ActionLink("My Vacation Requests", "GetVacationByEmployee", "Vacations")</li>
                        <li id="subdrop">@Html.ActionLink("Request Vacation", "Create", "Vacations")</li>
                    </ul>
                </li>

                <li class="navigation_item">
                    SICK LEAVE
                    <ul>
                        <li id="subdrop">@Html.ActionLink("My Sick Leave Requests", "GetSickLeavesByEmployee", "SickLeaves")</li>
                        <li id="subdrop">@Html.ActionLink("Request Sick Leave", "Create", "SickLeaves")</li>
                    </ul>
                </li>

                <li class="navigation_item">
                    COMPLAINTS
                    <ul>
                        <li id="subdrop">@Html.ActionLink("My Complaints", "GetComplaintsByEmployee", "Complaints")</li>
                        <li id="subdrop">@Html.ActionLink("Write a Complaint", "Create", "Complaints")</li>
                    </ul>
                </li>

                <li id="single_line">@Html.ActionLink("Resign", "Create", "EmployeeStatus")</li>

            </ul>
            <center>
                <a href="#">
                    <h1 class="boxed_item boxed_item_smaller">
                        <i class="fa fa-user"></i>
                        SIGN UP
                    </h1>
                </a>
            </center>
        </div>
    }
@if (((Employee)Session["employee"]) != null)
{
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Management System</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="user_icon"><i class="fa fa-user fa-2x"></i></li>
                <li class="user_login">@Html.ActionLink("Logout", "logout", "Employee")</li>
            </ul>
        </div>
    </nav>
}
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>

</body>

</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<link href="~/Content/themes/main-style.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $(".fa-times").click(function () {
            $(".sidebar_menu").addClass("hide_menu");
            $(".toggle_menu").addClass("opacity_one");
        });
        $(".toggle_menu").click(function () {
            $(".sidebar_menu").removeClass("hide_menu");
            $(".toggle_menu").removeClass("opacity_one");
        });
    });
</script>
@if (((Employee)Session["employee"]) != null)
{
<style>


    body {
         background-image: url('../../smartlogin/images/bg3.jpg');
         background-size: 100%;
         background-repeat: no-repeat;
        width: 100%;
        
    }
    .container {
      
        background-color: rgba(255,255,255,0.69);
    }
    
</style>

}