@model ManagementSystem.Data.Review

@{
    ViewBag.Title = "Details";
}

<h2>Review Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date Issued
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIssued)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDescription)
        </dd>

        <dt>
           Weight
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewWeight)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

    </dl>
</div>

