@model IEnumerable<ManagementSystem.Data.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Reviews</h2>
<br>


<table class="table">
    <tr>
        <th>
            Date Issued
        </th>
        <th>
            Description
        </th>
        <th>
            Review Weight
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
            @Html.DisplayFor(modelItem => item.Employee.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId })
        </td>
    </tr>
}

</table>
